*,
::after,
::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* colors */
:root{
    --Deep-green: #164B2E;
    --Light-green: #2D995F; 
    --Gray:#f2f3f3;
    --White: #ffffff;
    --Black: #343A40; 
    
}
.regBody{
    width: 100%;
    /* height: 100vh; */
    background-color: var(--Gray);
}
.logoCont{
    width: 100%;
    max-width: 228px;
    height: 77px;
    overflow: hidden;
    margin-bottom: 48px;
}
.img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.regContainer{
    display: grid;
    grid-template-columns: 25% 75%;
    /* gap: 30px; */
}
.sideNav{
    background-color: var(--Deep-green);
    padding: 37px 0 0 21px;
    height: 1800px;
    max-width: 339px;
}
.regMenu{
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.regMenu a{
    text-decoration: none;
}
/* .regMenu a:active{
    background: linear-gradientrgba((#2D997F) 100%, (#2D997F) 31%);
} */
.regMenu p{
    color: var(--White);
    font-size: 18px;
    font-weight: 400;
    margin:0;
    /* padding: 12px 20px; */
}
.regMenu .active{
    background: linear-gradient9(#2D997F) (#2D997F)0;
    /* color: yellow !important; */
    /* background-color: white; */
    /* padding: 30px; */
}
.formSection{
    padding: 35px 30px;
}
.formSecCont h3{
    /* padding: 35px 30px; */
    /* background-color: gray; */
}
.formSection p{
    font-size: 14px;
}
.formSection h1{
    color: var(--Light-green);
    font-size: 28px;
    font-weight: 700;
}
.formSecCont{
    padding: 24px 32px;
    background-color: var(--White);
    border-radius: 14px;
}
.formSecCont h3{
    color: var(--Black);
}
.mainform{
    width: 100%;
}