*,
::after,
::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* colors */
:root{
    --Deep-green: #164B2E;
    --Light-green: #2D995F; 
    --Gray:#f2f3f3;
    --White: #ffffff;
    --Black: #343A40;
}
/* .regBody{
    width: 100%;
    
    background-color: var(--Gray);
} */
.logoCont{
    width: 100%;
    max-width: 228px;
    height: 77px;
    overflow: hidden;
    margin-bottom: 48px;
}
.img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.regContainer{
    display: flex;
    justify-content: space-between;
    /* grid-template-columns: 25% 75%; */
    /* gap: 30px; */
}
.sideNav{
    background-color: var(--Deep-green);
    padding: 37px 27px 0 24px;
    height: 1800px;
    /* max-width: 339px; */
    position: fixed;
    /* visibility: hidden; */
}
.regMenu{
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.regMenu a{
    text-decoration: none;
    padding: 12px 34px 12px 20px;
}
.regMenu .active{
  background: linear-gradient(to right, #4b9483, #2d998050);
  border-radius: 4px;
}
.regMenu img{
  width: 24px;
  height: 24px;
  margin-right: 20px;
}
.regMenu p{
    color: var(--White);
    font-size: 18px;
    font-weight: 400;
    margin:0;
    /* padding: 12px 20px; */
}
.regMenu .active{
    background: linear-gradient9(#2D997F) (#2D997F)0;
    /* color: yellow !important; */
    /* background-color: white; */
    /* padding: 30px; */
}
.formSection{
    padding: 0 30px;
    margin-left: 21rem;
    display: inline-block;
    width: 100%;
}
.formSectionHeader{
  position: fixed;
  width: 100%;
  background-color: var(--Gray);
  z-index: 999;
  padding-top: 40px;
}
.formSecCont h3{
    /* padding: 35px 30px; */
    /* background-color: gray; */
}
.formSection p{
    font-size: 14px;
}
.formSection h1{
    color: var(--Light-green);
    font-size: 28px;
    font-weight: 700;
}
.formSecCont{
    padding: 24px 32px;
    background-color: var(--White);
    border-radius: 12px;
    width: 100%;
}
.shadow{
  box-shadow: 5px 5px 10px var(--Gray) ;
}
.formSecCont h3{
    color: #343A40;
    font-size: 20px;
    font-weight: 700;
    /* margin-left: ; */
}
/* .mainform{
    width: 100%;
    background-color: var(--White);
    border-radius: 12px;
    margin-top: 13rem;
    display: flex;
    flex-direction: column;   
} */
