*,
::after,
::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* colors */
:root{
    --white:  #ffffff;
    --light-blue:#DDF3E7;
    --green:#2D995F;
    --text:#343A40;
    --h-tags:#000000;
}
.body{
    width: 100%;
}
.img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}


p{
    font-size: 20px;
    color: var(--text);
}
h1, h2, h3, h4, h5, h6{
    color: var(--h-tags);
}
button{
    background-color: transparent;
    border: none;
    outline: none;
    border-radius: 4px;
}
.greenBtn{
    padding: 20px 60px;
    background-color: var(--green);
    color: white;
    font-weight: 700;
    transition: ease 0.3s;
    border-radius: 4px;
}
.greenBtn:hover{
    background-color: #87c5a4;
    /* border: 1px solid #87c5a4; */
}
.topSpace{
    padding-bottom: 5rem;
}
.container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.faqsContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contentContainer{
    width: 100%;
    padding: 0 100px;
    
    /* max-width: 1000px;    */
}
.section1{
    background-image: url('../../Images/grouped.svg');
    width: 100%;
    max-width: 1728px;
    background-position-x: -100px;
    /* height: 756px; */
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 2rem;
    padding-bottom: 50px;
}
.heroContent{
    width: 100%;
    max-width: 676px;
    text-align: left;
    margin-top: 174px;
    padding: 0 0 0 86px;
}
.heroContent h1{
    font-size: 54px;
    font-weight: 900;
}
.heroContent h1 span{
    color: var(--green);
}
.heroContent button{
    margin: 44px 0 0 0;
    /* margin-bottom: 2rem !important; */
}
.section2{
    width: 100%;
    background-image: url('../../Images/grouped2.svg');
    height: 400px;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 13px;
}

.section3 .sellerImg{
    width: 640px;
    height: 843px;
    overflow: hidden;
    margin-top: 70px;
}

.section3 {
display: flex;
justify-content: center;
align-items: center;
}
.sellerImg{
    width: 50%;
}

.sellersContent{
    width: 50%;
}

.section3 .sellersContent{
    /* margin-top: 150px; */
    margin-left: 60px;
    
}

.section3 .sellersContent h1{
    font-weight: 800;
    font-size: 48;
    color: #000000;
}

.newsContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 120px;
}
.section3 .sellersContent p:nth-child(3){
    margin-top: 40px;
}

.newsHeader{
    font-weight: 700;
    font-size: 48;
}

.sellerText{
    font-size: 18px;
}

.happeningText{
    margin-top: 16px;
}
.accordionContainer{
    margin-top: 66px;
    width: 100%;
    max-width: 900px;
}


.faqs{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* margin-top: 50px; */
background: rgba(233, 236, 239, 0.33);
}

.faqsContainer{
    width: 100%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(233, 236, 239, 0.33);
    /* margin-bottom: 30px; */
}


.faqsHeader{
    font-weight: 700;
    font-size: 48;
    margin-top: 100px;
    color: #000000;
}

.accordionSpace{
margin-top: 30px;
}

